$white: #ffffff;
$black: #000000;
$background: #e5e5e5;
$light-black: #383736;
$grey: #999999;
$light-grey: #989691;
$light-green: #f2faf0;
$green: #96c268;
$light-red: #faf0f0;
$red: #eb4b51;
$blue: #2794db;
$yellow: #fac62d;
$yellow-hover: #f0b505;
$yellow-active: #e1ab08;
$cross-close: #b2b0ab;
$close-button-background-hover: #f5f4f2;
$close-button-background-active: #e7e4de;
$border: #f0eeeb;
